$primary-color: #fe5858;
$color-black: black;
$color-white: white;
$color-normal:#f8f9fb;
$color-icon:#4c5667;
$color-light:#6c757d;
$color-border: #ddd;
$color-footer: #4c5667;
$color-fb: #ededed;